@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:'Poppins', sans-serif;
}
:root{
	--main: #00784a;
	--wh: #ffffff;
	--lav: lavender;
}
body{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	background: var(--lav);
}
.top__nav{
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	background: var(--wh);
	display: flex;
	align-items: center;
}
.top__logo{
	margin-left: 20px;
	font-size: 40px;
	font-weight: 600;
	color: var(--main);
	cursor: pointer;
}
.form__container{
	position: absolute;
	height: 500px;
	width: 600px;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	background: var(--main);
	top: 130px;
}
.header{
	position: absolute;
	top: 10px;
	font-size: 55px;
	color: var(--wh);
}
.form__box{
	position: absolute;
	height: 380px;
	width: 330px;
	bottom: 10px;
	border: 1px solid var(--lav);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
input[type="text"],
     [type="password"],
     [type="submit"]{
     	position: relative;
     	padding: 10px 15px;
     	font-size: 20px;
     	margin: 20px;
     	border-radius: 50px;
     	outline: none;
     	border: 1px solid var(--wh);
}
input[type="checkbox"]{
	position: absolute;
	width: 16px;
	height: 16px;
	transform: translate(59px, 50px);
}
p{
	position: absolute;
	transform: translate(100px, 50px);
	color: var(--wh);
}
input[type="submit"]{
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	top: 30px;
	color: var(--main);
}
input[type="submit"]:hover{
	background: var(--lav);
}